*{
    margin: 0;
    padding: 0;
}

.btn{
    height: 50px;
    width: 206px;
    color: rgb(8, 8, 8);
    background-color: rgb(133, 91, 171);
    border: 5px solid hsl(358, 85%, 41%);
 
  

}

#text{
    padding: 5px;
    margin: 5px;
}

body{
    background-color: rgb(123, 189, 159);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 59vw;
  

}

.container{
    width: 800px;
    max-width: 80%;
    background-color: azure;
    padding: 27px;
    border-radius: 30px;
    box-shadow: 20px 20px 50px 15px grey;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat( 2,auto);
    gap: 10px;
    margin-top: 20px;
    justify-content: space-around;

}



.btn:hover{
    border-color: rgb(10, 100, 74);
}